[Unit]
Description=Universal Professional Driver Installer
After=network.service

[Service]
Type=oneshot
ExecStart=./services/driver-installer/run
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
