[Unit]
Description=Professional Service for night-mode
After=core-fs.service
Documentation=https://github.com/adembenarfa175-code/init-is-notsystemd

[Service]
Type=simple
ExecStart=./services/night-mode/run
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
