[Unit]
Description=Professional Service for getty
After=core-fs.service
Documentation=https://github.com/professional/init-not-systemd

[Service]
Type=simple
ExecStart=./services/getty/run
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
