[Unit]
Description=Professional Service for auto-dns-resolver
After=core-fs.service
Documentation=https://github.com/adembenarfa175-code/init-is-notsystemd

[Service]
Type=oneshot
ExecStart=./services_core/auto-dns-resolver/run
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
