[Unit]
Description=Professional Service for pro-control
After=core-fs.service
Documentation=https://github.com/professional/init-not-systemd

[Service]
Type=simple
ExecStart=./services/pro-control/run
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
