[Unit]
Description=Professional Service for tmpfs-shaper
After=core-fs.service
Documentation=https://github.com/adembenarfa175-code/init-is-notsystemd

[Service]
Type=oneshot
ExecStart=./services_core/tmpfs-shaper/run
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
