[Unit]
Description=Professional Service for kernel-tuning
After=core-fs.service
Documentation=https://github.com/professional/init-not-systemd

[Service]
Type=simple
ExecStart=./services/kernel-tuning/run
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
